extends ../includes/_layout.pug

block title
    title 伊7'友善 讓愛無礙


block scss
    link(rel='stylesheet', href= assets +'/styles/story.css')


block main
    div#storyPage
        section#story_page.W1366(:class="'st_0'+story_index")
            .left
                img.pc(:src="'assets/images/p'+(story_index)+'/img_01_pc.jpg'", alt="")
                img.pad(:src="'assets/images/p'+(story_index)+'/img_01_mb.jpg'", alt="")

                img.line(src=assets+"/images/line.svg", alt="")

            .main_des
                img.title.pc(:src="'assets/images/p'+(story_index)+'/title_pc.svg'", alt="")
                img.title.pad(:src="'assets/images/p'+(story_index)+'/title_mb.svg'", alt="")
                p(v-html="story_individual.des")

                a.vote(:style="{'background': (canVote) ? story_individual.color: '#eee' }", :class="{ 'disable': !canVote }",@click="voting")
                    span(:style="{'border-color': (canVote) ? '#fff':story_individual.color, 'color': (canVote) ? '#fff':story_individual.color,  'opacity': (canVote) ? '1':'.8' }")
                        | 友善多一點
                        br
                        | 我+1

                .bottom
                    a.share(href="", @click="shareToFB") 分享
                    a.goMall(href="https://edenmall.eden.org.tw/", target="_blank", :style="{'color': story_individual.color,'border-color': story_individual.color, 'display': (story_index===3)? 'inline-block': 'none' }") 購買產品可上伊甸公益MaLL
                    p.f_b
                        | 目前已有
                        font(:style="{'color': story_individual.color}") {{ story_voting_num }}
                        | 個人{{  story_individual.share_text }}


            .right
                img(:src="'assets/images/p'+(story_index)+'/img_02_pc.jpg'", alt="")

            a.back(:href="'/#st_0'+(story_index+1)")
                //- img.arrow(src=assets+"/images/back.svg", alt="")
                img.arrow_hover(src=assets+"/images/back_white.svg", alt="")



        .lb_wrapper(:class="{ 'show': showLb }")
            .lb(:style="{'border-color': story_individual.color }")
                p {{story_individual.lb_text}}
                a.lb_chat(:href="story_individual.lb_link", target="_blank") 來聊聊吧
                a.lb_close(:style="{'border-color': story_individual.color, 'color':  story_individual.color }", @click="LbHandler(false)")
                    .after(:style="{'background-color': story_individual.color }")
                    .before(:style="{'background-color': story_individual.color }")






block js
    script(src= public +'/lib/js/vue@2.6.11.min.js' defer)
    script(src=assets + '/js/story.bundle.js' defer)
