//- layout.pug
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=1, maximum-scale=1')
        meta(name='keywords', content='伊甸基金會,伊甸 身障,身心障礙者,一起友善,友善行動,友善環境,友善社會,無障礙生活,讓愛無礙,張睿家')
        meta(property='og:title' content='伊7友善 讓愛無礙')
        meta(property='og:type' content='website')
        meta(property='og:url' content='https://e7friendly.eden.org.tw')
        meta(property='og:image' content='https://e7friendly.eden.org.tw/assets/images/share.jpg')
        meta(property='og:description' content='在台灣，每20個人就有一位是身心障礙者，在生活中，他們除了需要面對自身障礙所帶來的考驗外，就連生活環境也處處充滿挑戰。友善，是我們可以給身心障礙朋友的溫暖。伊甸基金會愛心大使張睿家，誠摯地邀請您與我們一同響應7個友善行動任務，讓愛無礙從你、我開始做起！')
        link(rel='icon' type='image/x-icon' href='/favicon.ico')

        block title

        include ./styles.pug
        block scss

        include ./scripts.pug
        block js

    body(style="opacity: 0")
        include ./header.pug
        include ./main.pug
        include ./footer.pug

