@import 'library/_mediaQuery';
@import 'library/_styleSetting';

body {
    min-height: 100vh;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    @include under-pad {
        position: relative;
    }
}

.logo,
footer {
    display: none;
}

@include under-pad {
    .pc {
        display: none;
    }
}

#story_page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: inline-block;
    max-width: initial;
    @include under-pad {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        border-bottom: 22px solid #fff;
        vertical-align: text-top;
    }
    img {
        max-width: 100%;
        &.pad {
            width: 100%;
        }
    }
    > * {
        float: left;
        box-sizing: border-box;
    }
    .left {
        width: 35%;
        position: relative;
        img {
            width: 100%;
        }
        @include under-pad {
            width: 100%;
        }
        .line {
            display: none;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 10%;
            max-width: 40px;
            transform: translate(-50%, 50%);
        }
    }
    .main_des {
        text-align: left;
        width: 53.8%;
        padding-left: 60px;
        position: absolute;
        height: 100%;
        left: 35%;
        top: 0;
        // &:after {
        //     content: '';
        //     left: 30px;
        //     top: 110px;
        //     background-color: rgba(0, 0, 0, 0.5);
        //     width: 130px;
        //     height: 40px;
        //     position: absolute;
        // }
        @include under-pad {
            position: relative;
            left: 0;
            transform: translate(0%, 0%);
            width: 100%;
            padding: 50px 20px 25px;
            text-align: center;
        }
        .title {
            margin-bottom: 40px;
            max-height: calc(100% - 300px);
            @media screen and (max-width: 1200px) {
                margin-bottom: 30px;
                max-height: calc(100% - 250px);
            }

            @include under-pad {
                margin-bottom: 30px;
                max-width: 400px;
                max-height: initial;
            }
        }
        p {
            font-size: 20px;
            line-height: 1.6;
            font-weight: 400;
            color: #4d4d4d;
            @include under-pad {
                font-size: 17px;
            }
            @include under-mobile {
                font-size: 14px;
            }
            a {
                color: #0000ff;
                padding-left: 8px;
            }
        }
        .vote {
            width: 158px;
            height: 158px;
            display: block;
            position: absolute;
            bottom: -10px;
            right: -60px;
            padding: 8px;
            border-radius: 50%;
            transition: all 0.5s;
            cursor: pointer;
            &.disable {
                // background-color: #aaa !important;
                cursor: not-allowed;
            }
            @include under-pad {
                position: relative;
                margin: 35px auto 28px;
                right: initial;
                bottom: initial;
                width: 106px;
                height: 106px;
            }
            @include upper-pad {
                &:not(.disable) {
                    &:hover {
                        transform: scale(1.02);
                        span {
                            border-color: #fff;
                        }
                    }
                }
            }
            span {
                transition: all 0.5s;
                text-align: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.3);
                display: block;
                color: #fff;
                font-size: 20px;
                line-height: 1.7;
                padding: 40px 0;
                @include under-pad {
                    font-size: 17px;
                    padding: 25px 0;
                }
                @include under-mobile {
                    font-size: 13px;
                }
            }
        }
        .bottom {
            position: absolute;
            bottom: 0;
            left: 60px;
            color: #4d4d4d;
            @include under-pad {
                position: relative;
                left: 0;
            }
            p {
                line-height: 1;
            }
            font {
                // color: #6699cc;
                padding: 0 8px;
                font-size: 27px;
                @include under-pad {
                    font-size: 15px;
                }
            }
        }
        .share {
            margin-bottom: 20px;
            padding: 0 20px;
            line-height: 37px;
            color: #226db6;
            border: solid #226db6 1px;
            border-radius: 10px;
            display: inline-block;
            text-decoration: none;
            font-size: 16px;
            padding-left: 30px;
            background-repeat: no-repeat;
            background-image: url($assets + '/images/share.svg');
            background-size: 30px;
            background-position: 5px center;
            transition: all 0.5s;

            @include upper-pad {
                &:hover {
                    color: #fff !important;
                    background-image: url($assets + '/images/share_white.svg');
                    background-color: #226db6;
                }
            }
            @include under-pad {
                margin-bottom: 30px;
                font-size: 14px;
                padding: 0 15px 0 30px;
            }
        }
        .goMall {
            text-decoration: none;
            font-size: 19px;
            margin-left: 22px;
            border: 1px solid #fff;
            line-height: 37px;
            display: inline-block;
            padding: 0 60px 0 20px;
            border-radius: 10px;
            letter-spacing: 0.5px;
            background-repeat: no-repeat;
            background-image: url($assets + '/images/arrow_red.svg');
            background-size: 28px;
            background-position: right 10px center;
            transition: all 0.5s;
            @include upper-pad {
                &:hover {
                    color: #fff !important;
                    background-image: url($assets + '/images/arrow_white.svg');
                    background-color: #990434;
                }
            }
            @include under-pad {
                background-position: right 5px center;
                background-size: 20px;
                display: inline-block;
                font-size: 14px;
                padding: 0 30px 0 15px;
                margin-left: 10px;
            }
            @include maxW-320 {
                margin: -15px auto 30px;
            }
        }
    }
    .right {
        width: 11.2%;
        float: right;
        img {
            width: 100%;
        }
        @include under-pad {
            display: none;
        }
    }

    .back {
        position: absolute;
        right: 57px;
        top: -57px;
        transform: translate(0, -100%);
        width: 48px;
        height: 48px;
        cursor: pointer;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all 0.5s;
        z-index: 20;
        background-color: #a2a2a2;

        // .arrow_hover {
        //     display: none;
        // }

        @media screen and (max-height: 660px) {
            top: -30px;
        }
        @media screen and (max-height: 600px) {
            top: 70px;
        }

        @include upper-pad {
            &:hover {
                transform: translate(0, -100%) scale(1.05);
                // background-color: #a2a2a2;
                // .arrow_hover {
                //     display: block;
                // }
                // .arrow {
                //     display: none;
                // }
            }
        }
        @include under-pad {
            top: 50px;
            right: 10px;
            width: 40px;
            height: 40px;
            // background-color: #fff;
        }
    }
    &.st_03 {
        .title {
            max-height: calc(100% - 260px);
            margin-bottom: 20px;
        }
    }
    &.st_04 {
        .title {
            max-height: calc(100% - 240px);
            margin-bottom: 30px;
        }
    }
    &.st_05 {
        .title {
            max-height: calc(100% - 260px);
            margin-bottom: 20px;
        }
    }
    @include under-pad {
        &.st_00 {
            .title {
                width: 78%;
            }
        }
        &.st_01 {
            .title {
                width: 77%;
            }
        }
        &.st_02 {
            .title {
            }
        }
        &.st_03 {
            .title {
                width: 68%;
            }
        }
        &.st_04 {
            .title {
                width: 55%;
            }
        }

        &.st_05 {
            .title {
                width: 67%;
            }
        }
        &.st_06 {
            .title {
                width: 59%;
            }
        }
    }
}

.lb_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.03);
    transition: all 0.4s;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    &.show {
        opacity: 1;
        z-index: 3000;
    }
    .lb {
        position: absolute;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 80px 30px 45px;
        max-width: 900px;
        width: 90%;
        border: 3px solid #555;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 25px;
        @include under-pad {
            font-size: 15px;
        }
        p {
            line-height: 1.5;
            color: #4d4d4d;
        }
        .lb_chat {
            color: #666666;
            border: solid #666666 1px;
            border-radius: 10px;
            display: inline-block;
            text-decoration: none;
            font-size: 16px;
            width: 90%;
            max-width: 330px;
            line-height: 47px;
            margin-top: 30px;
            font-size: 25px;
            @include under-pad {
                font-size: 15px;
                line-height: 42px;
            }
        }
        .lb_close {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 27px;
            right: 39px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 3px solid #555;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            cursor: pointer;
            @include under-pad {
                top: 17px;
                right: 20px;
            }
            .after,
            .before {
                display: block;
                width: 3px;
                height: 25px;
                background-color: #666;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }
            .before {
                transform: translate(-50%, -50%) rotate(-90deg);
                -webkit-transform: translate(-50%, -50%) rotate(-90deg);
                -moz-transform: translate(-50%, -50%) rotate(-90deg);
                -ms-transform: translate(-50%, -50%) rotate(-90deg);
                -o-transform: translate(-50%, -50%) rotate(-90deg);
            }
        }
    }
}
