@import 'library/_mediaQuery';
@import 'library/_styleSetting';

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    color: #111111;
}

* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
    outline: none;
    font-family: arial, 'Microsoft JhengHei', '微軟正黑體', sans-serif !important;
}

.pc {
    display: inline-block;
}

.mb {
    display: none;
}

header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    transition: all 0.3s;
    @media screen and (min-width: 600px) {
    }

    img {
        float: right;
        margin: 50px 35px;
        @include under-mobile {
            margin: 22px 18px;
            width: 70px;
        }
    }
}

footer {
    line-height: 1.2;
    padding: 16px 20px;
    letter-spacing: 1px;
    @include under-mobile {
        font-size: 10px;
        line-height: 1.6;
    }
}

hr {
    margin: 0;
    border-color: transparent;
}

* {
    box-sizing: border-box;
}

p {
    line-height: 1.4;
}

.f16 {
    font-size: 16px;
}

.f19 {
    font-size: 19px;
}

.f45 {
    font-size: 45px;
}

.f_b {
    font-weight: bold;
}

.f_orange {
    color: #ff9966;
}

.f_white {
    color: #fff;
}

.f_grey {
    color: #444;
}

.W100 {
    width: 100%;
}

.W50 {
    width: 50%;
    display: inline-block;
    float: left;
}

.W1366 {
    width: 100%;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.t_right {
    text-align: right;
}

.t_left {
    text-align: left;
}

.bg_black {
    background-color: #1e1e1e;
}

.bg_orange {
    background-color: #ff9966;
}

.bg_white {
    background-color: #fff;
}

.bg_grey {
    background-color: #f5f5f5;
}

#banner {
    position: relative;
    height: 100vh;
    width: 100%;
    @include under-mobile {
        height: initial;
        padding-top: 297px;
    }
    .logo_friendly {
        position: absolute;
        left: 40px;
        top: 2.5%;
        height: 15%;
        max-height: 127px;
        @include under-mobile {
            max-height: 65px;
            left: 25px;
        }
    }
    .bg_orange {
        position: absolute;
        width: 80%;
        height: 80%;
        bottom: 0;
        left: 0;
        padding: 40px;
        text-align: left;
        @include under-mobile {
            position: relative;
            width: calc(100% - 30px);
            height: initial;
            padding: 25px 35px;
            bottom: initial;
        }
        .text {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            @include under-mobile {
                position: relative;
                top: initial;
                transform: initial;
                -webkit-transform: initial;
                -moz-transform: initial;
                -ms-transform: initial;
                -o-transform: initial;
            }
        }
        h1 {
            font-size: 55px;
            font-weight: bold;
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            @include under-mobile {
                font-size: 29px;
                padding-bottom: 15px;
                margin-bottom: 15px;
            }
        }
        h3 {
            font-size: 16px;
            line-height: 1.5;
            display: inline-block;
            position: relative;
            z-index: 1;
            letter-spacing: 2px;
            background-image: url($assets + '/images/icon_01.svg');
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 25px;
            padding: 25px;
            width: 66%;
            display: block;
            @media screen and (max-width: 1000px) {
                font-size: 16px;
                letter-spacing: 0;
            }
            @include under-mobile {
                width: 100%;
            }
        }
        a {
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            padding: 15px 20px;
            border: 1px solid #fff;
            margin: 0 0 30px;
            display: inline-block;
            max-width: 70%;
            transition: all 0.3s;
            -webkit-transition: all 0.3;
            -moz-transition: all 0.3;
            -ms-transition: all 0.3;
            -o-transition: all 0.3;
            @include upper-pad {
                &:hover {
                    background-color: #fff;
                    color: #ff9966;
                    span {
                        padding-left: 10px;
                        transition: padding 0.3s;
                        -webkit-transition: padding 0.3s;
                        -moz-transition: padding 0.3s;
                        -ms-transition: padding 0.3s;
                        -o-transition: padding 0.3s;
                    }
                }
            }
        }
        p {
            display: block;
            max-width: 70%;

            font {
                padding: 0 4px;
                font-size: 20px;
            }
        }
    }

    .ppl {
        bottom: 0;
        max-width: 50%;
        position: absolute;
        z-index: 0;
        right: 8%;
        max-height: 95vh;
        @include under-mobile {
            //position: relative;
            bottom: initial;
            max-width: 205px;
            top: 15px;
            right: 50%;
            transform: translate(50%, 0);
            -moz-transform: translate(50%, 0);
            -ms-transform: translate(50%, 0);
            -o-transform: translate(50%, 0);
            -webkit-transform: translate(50%, 0);
        }
    }
}

#about {
    position: relative;
    padding: 115px 30px;
    background-image: url($assets + '/images/back-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .abt_title {
        position: absolute;
        left: 54px;
        bottom: 0;
        height: 80%;
    }
    .content {
        max-width: 915px;
        width: 70%;
        margin-left: 20%;
        text-align: left;
        font-weight: bold;

        h5 {
            margin-bottom: 30px;
            line-height: 1.2;
        }
        p {
            color: #666;
            display: block;
        }
        > div {
            height: 90px;
        }
    }
}

#story {
    position: relative;
    padding: 150px 0;
    .action {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .story_item {
        padding: 80px 50px;
        margin-bottom: 100px;
        position: relative;
        .W1366 {
            position: relative;
            display: inline-block;
        }

        .border {
            position: absolute;
            width: 18px;
            height: 95%;
            top: 0;
        }

        &:nth-child(2n) {
            .pic {
                left: -8%;
            }
            .text {
                float: right;
            }
            .border {
                right: 0;
            }
        }
        &:nth-child(2n + 1) {
            .pic {
                right: -5%;
            }
            .text {
                float: left;
                img {
                    max-width: 100%;
                    margin-left: 10%;
                }
                a {
                    right: 15px;
                }
            }
            .border {
                left: 0;
            }
        }
        &#st_06 {
            .text {
                a {
                    top: 350px;
                }
            }
        }
        .pic {
            position: absolute;
            //top: 80px;
            //height: calc(100% - 160px);
            width: 65%;
            top: 53%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
        }
        .text {
            position: relative;
            text-align: left;
            z-index: 5;
            margin: 40px 0 60px;
            width: 50%;
            img {
                max-width: 100%;
            }
            a {
                width: 172px;
                height: 172px;
                position: absolute;
                top: -30px;
                right: 38px;
                border: 1px solid #000;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                text-align: center;
                line-height: 45px;
                padding: 45px 0;
                font-size: 32px;
                letter-spacing: 8px;
                font-weight: 100;
                text-decoration: none;
                font-family: 'MicrosoftJhengHeiRegular';
                * {
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                }
                font {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    opacity: 0;
                }
                span {
                    z-index: 1;
                    position: relative;
                }
                @include upper-pad {
                    &:hover {
                        font-weight: bold;
                        span {
                            color: #fff;
                        }
                        font {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

#video {
    text-align: center;
    > img {
        display: block;
        margin: 0 auto 30px;
    }
    .video_wrap {
        background-color: #e6e6e6;
        margin-top: -80px;
        padding: 65px 30px;
        position: relative;
        z-index: 2;
        .main_v {
            max-width: 860px;
            margin: 0 auto;
            position: relative;
            img {
                width: 100%;
            }
            .frame {
                position: absolute;
                top: 49%;
                left: 48%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                width: 88%;
                height: 86%;
                background-color: green;
            }
        }
    }
    #video_nav {
        max-width: 1060px;
        margin: 50px auto 30px;
        position: relative;
        padding: 0 45px;
    }
    .swiper-wrapper {
        @include under-mobile {
            display: block !important;
        }
    }
    .swiper-slide {
        text-align: left;
        padding: 0 14px;

        img {
            width: 100%;
        }
    }
}

#Link {
    padding: 65px 30px 55px;
    @include under-mobile {
        padding: 35px 30px 0;
    }
    div {
        max-width: 1200px;
        width: 100%;
        display: inline-block;
    }
    .links {
        width: 107px;
        float: left;
        margin-left: 20px;
        margin-top: -105px;
        @include under-mobile {
            float: none;
            margin: 0 auto 28px;
            width: 109px;
        }
    }
    ul {
        width: calc(100% - 140px);
        margin-right: -20px;
        float: right;
        display: inline-block;
        @include under-mobile {
            float: none;
            width: 100%;
        }
    }
    li {
        width: 25%;
        padding: 0 28px;
        float: left;
        display: inline-block;
        @include under-mobile {
            width: 50%;
            height: 155px;
            margin-bottom: 30px;
            padding: 0;
        }
        img {
            width: 100%;
            @include under-mobile {
                width: 103px;
            }
        }
        h3 {
            margin: 15px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #bbb;
        }
        p {
            line-height: 1.5;
            letter-spacing: 1px;
            font-size: 16px;
        }
    }
}
.pagination {
    height: 100%;
    display: inline-block;
    padding: 0 30px;
}

.swiper-button-next,
.swiper-button-prev {
    width: 26px !important;
    height: 100% !important;
    top: 0 !important;
    margin-top: 0 !important;
    border: 2px solid #fff;
    background: #e6e6e6;
    img {
        width: 25px;
    }
}

.swiper-button-next {
    right: 0 !important;
}
.swiper-button-prev {
    left: 0 !important;
    img {
        transform: rotate(180deg);
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 30px !important;
}

@include under-mobile {
    .pc {
        display: none;
    }

    .mb {
        display: inline-block;
    }
    .W50 {
        width: 100%;
        display: inline-block;
        float: none;
    }
}
